<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
        <title>Descent Records</title>
    </head>
    <body>
            <div>
                    <ul class="col"  align="center">
                        <div>
                            <li id="elem" class="elem" th:each="medicalrecord: ${medicalRecord}">
                            
                                <p  id="date" th:text="${medicalrecord.date}"></p>
                                <br>   
                                <p id="meds" th:text="${medicalrecord.medspec}"></p>
                                <br>
                                <p id="des" th:text="${medicalrecord.description}"></p>  
                                <br>
                                <a th:href="@{'/showMedicalRecord/'}+${medicalrecord.id}">Show More</a>
                                <a th:href="@{'/editMedicalRecord/'}+${medicalrecord.id}">Edit</a>
                                <a th:href="${'/deleteMedicalRecord/'+medicalrecord.id}">Delete</a>
                            </li>
                        </div>
                    </ul>
           </div>
           <a href="/medicalRecord" class="butClass">Return</a>
    </body>
</html>
<style>
body{
        background-image: url("https://previews.123rf.com/images/pitinan/pitinan1902/pitinan190203953/117357122-medical-healthcare-concept-doctor-in-hospital-with-digital-medical-icons-graphic-banner-showing-symb.jpg");
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #00b33c;
        line-height: 1.2em !important;
        font-size: 80px; 
        position: absolute;
        top: 145px;
        left:350px;
    }
    .disbut{
        position: absolute;
        top:300px;
        left:70px;
    }
    .butClass{
       background-color:whitesmoke;
           border-radius: 70px;
           color:black;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
           position: relative;
           top: 10px;
           left: 0 px;
           background-color: #4e4e4e4e;
           border: #aaff80 5px solid;    
           font-family:  Georgia, 'Times New Roman', Times, serif;
       }
    .col{
        columns: 2;
        position:absolute;
        top: 100px;
        left: 300px;
        padding-left:0;
        border-collapse: separate;
        border-spacing: 10px 5px;
        column-gap: 300px;
    }
    .elem{
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 15px 15px 20px;
        text-align: center;
        background-color: white;
        justify-content: center;
        align-items: center;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        border-collapse: separate;
        border-spacing: 0px 50px;  
         
        border-width: 100px;
        border: #00b33c 5px solid;
    }
</style>