<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <title>Login</title>
    </head>
    <body >
        <div class="col s12 m2" >
            <div class="z-depth-5">
                    <form th:action="@{/login}" method="POST" class="form-signin">
                        <div class="row">
                            <div class="container">
                                <h1 class="center-align">Login</h1>
                                <br>
        
                              <input name="username" type="text" placeholder="Username">
                              <label for="first_name">UserName</label>
                              <span class="helper-text" data-error="wrong" data-success="right"></span>
        
                              <input name="password" type="password" placeholder="Password">
                              <label for="password">Password</label>
                              <span class="helper-text" data-error="wrong" data-success="right"></span>
                              <br>
                              <button type="submit" name="Submit" class="waves-effect waves-light btn" th:text="Login">login</button>
                            </div>
                          </div>
                        
                
                    </form>
                    <br>
                    <form th:action="@{/register}" method="get">
                        <button id="registro" class="waves-effect waves-light btn" type="Submit">Registrarme</button>
                    </form>
            </div>
        </div>        
    </body>

</html>