<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Medical History</title>
    <div id="header">
        <nav> <!-- Aqui estamos iniciando la nueva etiqueta nav -->
            <ul class="nav">
                <li><a href="/newMedicalRecord">Create Medical Record       </a></li>
                <li><a href="">Search Medical Record      </a>
                <li><a href="">Filter Medical Record      </a>
                <li><a href="">View Profile     </a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
    </div>
</head>
<body>

   <div class="disbut">
        <a href="/ascent" class="butClass">Order ascending</a>
    <br>
    <a href="/descent" class="butClass">Order descending</a>
    <div>
     
    </div>
  
   </div>
        
        <div>
                <ul class="col"  align="center">
                    <div>
                        <li id="elem" class="elem" th:each="medicalrecord: ${medicalRecord}">
                        
                            <p  id="date" th:text="${medicalrecord.date}"></p>
                            <br>   
                            <p id="meds" th:text="${medicalrecord.medspec}"></p>
                            <br>
                            <p id="des" th:text="${medicalrecord.description}"></p>  
                            <br>
                            <a th:href="@{'/showMedicalRecord/'}+${medicalrecord.id}">Show More</a>
                            <a th:href="@{'/editMedicalRecord/'}+${medicalrecord.id}">Edit</a>
                            <a th:href="${'/deleteMedicalRecord/'+medicalrecord.id}">Delete</a>
                        </li>
                    </div>
                </ul>
    
        </div>
       
    <h1 align='center'>Medical History</h1>
</body>
</html>

<style>
    body{
        background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/medical-abstract-background-with-health-icons-video-animation-hd-1920x1080_v81imnt8e__F0014.png");
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #00b33c;
        line-height: 1.2em !important;
        font-size: 80px; 
        position: absolute;
        top: 145px;
        left:350px;
    }
    .disbut{
        position: absolute;
        top:300px;
        left:70px;
    }
    .butClass{
       background-color:whitesmoke;
           border-radius: 70px;
           color:black;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
           position: relative;
           top: 10px;
           left: 0 px;
           background-color: #4e4e4e4e;
           border: #aaff80 5px solid;    
           font-family:  Georgia, 'Times New Roman', Times, serif;
       }
    .col{
        columns: 2;
        position:absolute;
        top: 300px;
        left: 300px;
        padding-left:0;
        border-collapse: separate;
        border-spacing: 10px 5px;
        column-gap: 300px;
    }
    .elem{
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 15px 15px 20px;
        text-align: center;
        background-color: white;
        justify-content: center;
        align-items: center;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        border-collapse: separate;
        border-spacing: 0px 50px;  
         
        border-width: 100px;
        border: #00b33c 5px solid;
    }
    * {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:1000px;
                font-family:Arial, Helvetica, sans-serif;
                position: absolute;
                left: -1px;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav {
				width:3000px; /*Le establecemos un ancho*/
				margin:auto; /*Centramos automaticamente*/
			}

			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#00b33c;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
                display:block;
                width: 100%;
                float: left;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
            .table{
                position: absolute;
                top: 250px;
                left: 100px;
            }
</style>
