<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
        <h1 class="title" align="center">Medical Record</h1>
</head>

<body>
        <div class="limitClass" align="center">
                <div class="BorderClass">
                            <b>Date:</b><span   th:text = "${medicalRecord.date}"></span>
                            <br>
                            <b>Medical specialty: </b><span   th:text = "${medicalRecord.medspec}"></span>
                            <br>
                            <b>Medic name:</b><span  th:text = "${medicalRecord.namemed}"></span>
                            <br>
                            <b>Severity of the record: </b><span   th:text = "${medicalRecord.severity}"></span>
                            <br>
                            <b>Description:</b><span   th:text = "${medicalRecord.description}"></span>
                            <br>
                            <b>Treatment:</b><span  th:text = "${medicalRecord.treatment}"></span>
                            <br>
                            <a class="butClass" href="/medicalRecord">Return</a>
                </div>
            </div>
</body>
</html>

<style>
        body{
               background-image: url("https://images3.alphacoders.com/219/thumb-1920-219135.jpg");
               background-repeat: no-repeat;
               
           }
           .BorderClass{
           height: 750px;
          width: 500px;
         border-radius: 20px;
         overflow: hidden;
         padding: 55px 55px 37px 55px;
           text-align: center;
           background: #9152f8;
         background: -webkit-linear-gradient(top,#d9d9d9, #f2f2f2);
         background: -o-linear-gradient(top, #d9d9d9, #f2f2f2);
         background: -moz-linear-gradient(top, #d9d9d9, #f2f2f2);
         background: linear-gradient(top, #d9d9d9, #f2f2f2);
         border: #aaff80 5px solid;
       }
       
       .limitClass{
           content: "";
         display: block;
         position: absolute;
         z-index: -5;
         width: 100%;
         height: 100%;
         top: 60px;
         left: 0;
       }
       
       h1{
           text-shadow: 5px;
           font-size: 40px;
           
       }
       
       .inputClass{
           font-family: comic;
           color: #113300;
           line-height: 1.2;
           font-size: 18px;
           display: block;
           width: 100%;
           background: transparent;
           height: 60px;
           padding: 0 20px;
           padding: 1px 0px;
               padding: 1px;
           border-width: 2px;
           border-radius: 10px;
       }
       
       .butClass{
       background-color:whitesmoke;
           border-radius: 70px;
           color:black;
           padding: 15px 32px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 16px;
           position: relative;
           top: 10px;
           left: 0 px;
           background-color: #4e4e4e4e;
           border: #aaff80 5px solid;    
           font-family:  Georgia, 'Times New Roman', Times, serif;
       }
       
       b{
               font-style: comic;
               display: inline;
           font-size: 20px;
           color: #113300;
           line-height: 1.5;
           padding-left: 26px;
       }
       input::-webkit-input-placeholder {
           color:black;
           font-weight: bold;
           font-family:  Georgia, 'Times New Roman', Times, serif;
           
           
       }
       input::-moz-placeholder {
           color: black;
           font-weight: bold;
           font-family:  Georgia, 'Times New Roman', Times, serif;
       }
       h1{
           color:black;
           font-family:  Georgia, 'Times New Roman', Times, serif;
       }
       .title{
           position: absolute;
           top:50px;
           left:680px;
       }
       </style>